@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
	font-size: 16px;
	font-family: "Ubuntu";
	--text-normal: #b9bbbe;
	--text-hover: #dcddde;
	--text-active: #fff;
	--text-bg: #8e9297;
	--button-bg: #4f545cff;
	--button-hover: #5d6269ff;
	--bg-primary: #202225ff;
	--bg-secondary: #2f3136ff;
	--bg-tertiary: #292b2fff;
	--bg-quaternary: #36393fff;
	--bg-quinary: #40444bff;
	--bg-hover: #34373cff;
	--bg-active: #393c43ff;
	--scroll-bg-primary: #202225;
	--sroll-bg-secondary: #2e3338ff;

	--card-border-radius: 2rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-3: 1.2rem;

	--card-padding: 1.8rem;
	--padding-1: 1.2rem;

	--box-shadow: 0 2rem 3rem var(--bg-primary);

	--transition-speed: 600ms;
}

body {
	background-color: var(--bg-secondary);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

main h1,
h2,
h3 {
	color: var(--text-active);
}

.navbar {
	position: fixed;
	background-color: var(--bg-primary);
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 3rem;
	text-decoration: none;
	color: var(--text-bg);
	transition: var(--transition-speed);
}

.nav-link-current {
	display: flex;
	align-items: center;
	height: 3rem;
	text-decoration: none;
	color: var(--text-active);
	transition: var(--transition-speed);
}

.nav-link:hover {
	background: var(--bg-hover);
	color: var(--text-hover);
}

.nav-link-current:hover {
	background: var(--bg-hover);
}

.link-text {
	margin-left: 1rem;
}

.nav-link svg {
	width: 1.3rem;
	margin: 0 1.5rem;
}

.nav-link-current svg {
	width: 1.3rem;
	margin: 0 1.5rem;
}

.navbar .fa-primary {
	color: var(--text-bg);
	transition: var(--transition-speed);
}

.navbar .fa-primary-current {
	color: var(--text-active);
}

.nav-link:hover .fa-primary {
	color: var(--text-hover);
}

.nav-link img {
	width: 2.2rem;
	margin: 0 1.5rem;
	border-radius: 50%;
}

.navbar .hrhorizontal {
	border-color: #ccc;
	width: 100%;
	opacity: 5%;
}

.logo {
	align-items: center;
	width: 100%;
}

.logo svg {
	width: 12rem;
}

.logo svg .fa-primary {
	color: var(--text-hover);
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 16.5rem;
		height: 100%;
	}

	.navbar .link-text {
		display: inline;
	}
}
main {
	margin-top: 1.4rem;
	margin-left: 17.5rem;
	padding: 1rem;
}

/* INDEX ---------------------------------------------------------------------------------------------------------------------------------------------*/

.index .insights {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
}

.index .insights > div {
	background: var(--bg-tertiary);
	padding: var(--card-padding);
	margin-top: 1rem;
	box-shadow: var(--box-shadow);
}

.index .insights > div .middle {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.index .insights h3 {
	margin: 1rem 0 0.6rem;
	font-size: 1rem;
}

.index .insights svg {
	width: 3rem;
}

.index .insights .fa-primary {
	color: var(--text-bg);
	-webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.index .insights .title {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	color: var(--text-active);
}

.index .insights .title span {
	margin-left: 1rem;
}

.index .insights .total h3 {
	color: var(--text-normal);
}

.recent-moved {
	margin-top: 4rem;
	margin-bottom: 1rem;
	background: var(--bg-tertiary);
	box-shadow: var(--box-shadow);
	padding: 1rem;
	border-collapse: collapse;
}

.recent-moved h2 {
	padding: 1rem;
	margin-left: 1rem;
}

.recent-moved table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.hrrm {
	border-color: #ccc;
	width: 98%;
	opacity: 10%;
}
/* PHONE BOOK ----------------------------------------------------------------------------------------------------------------------------------------*/
.phone-book {
	background: var(--bg-tertiary);
	box-shadow: var(--box-shadow);
	padding: 1rem;
	border-collapse: collapse;
}

.phone-book .warpper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.phone-book .tab svg {
	width: 1.5rem;
}

.phone-book .tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.phone-book .tab {
	cursor: pointer;
	align-items: center;
	color: var(--text-bg);
}

.phone-book table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.phone-book thead {
	color: var(--text-active);
}

.phone-book .fa-primary {
	color: #ccc;
}

.phone-book tbody tr {
	line-height: 2.5rem;
	color: var(--text-hover);
}

.phone-book .hra {
	border-bottom: 1px solid rgba(204, 204, 204, 0.1);
	line-height: 3rem;
}

/* STORAGE -------------------------------------------------------------------------------------------------------------------------------------------*/

.storage .insights {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.6rem;
}

.storage .insights > div {
	background: var(--bg-tertiary);
	padding: var(--card-padding);
	margin-top: 1rem;
	box-shadow: var(--box-shadow);
}

.storage .insights > div .middle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.storage .insights svg {
	width: 3rem;
}

.storage .insights .fa-primary {
	color: var(--text-bg);
	-webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.storage .insights .content {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	color: var(--text-active);
}

.storage .insights .content span {
	margin-left: 1rem;
}

.storage .warpper {
	background: var(--bg-tertiary);
	box-shadow: var(--box-shadow);
	padding: 1rem;
	border-collapse: collapse;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

.storage .tab svg {
	width: 1.5rem;
}

.storage .tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.storage .tab {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	align-items: center;
	margin: 0rem 1rem;
	color: var(--text-bg);
}

.storage .hrtitle {
	border-color: #ccc;
	width: 100%;
	opacity: 5%;
}

.storage .panels {
	width: 100%;
}

.storage .panel {
	display: none;
	animation: fadein 0.8s;
}

.storage table {
	border-collapse: collapse;
	width: 100%;
}

.storage table svg {
	width: 2rem;
}

.storage table svg .fa-primary {
	color: var(--text-hover);
}

.tab:hover {
	color: var(--text-hover);
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.panel-title {
	font-size: 1.5em;
	font-weight: bold;
}

.settings .content .drugsself svg {
	width: 2rem;
}

/* WORK ----------------------------------------------------------------------------------------------------------------------------------------------*/

.work {
	background: var(--bg-tertiary);
	box-shadow: var(--box-shadow);
	padding: 1rem;
	border-collapse: collapse;
}

/* Main Tabs */

.work .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.work .top-tabs-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.work .top-tab-container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	align-items: center;
	margin: 0rem 1rem;
	color: var(--text-bg);
}

.work .hr-main-tab {
	border-color: #ccc;
	width: 100%;
	opacity: 5%;
}

.work .tab-radio {
	display: none;
}

/* Tabs behaviour, hidden if not checked/clicked */
.work .sub-tab-content,
.tab-content {
	display: none;
}

.work .tab-radio:checked + .tab-content,
.tab-radio:checked + .sub-tab-content {
	display: block;
}

/* Sub-tabs */
.work .sub-tabs-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.work .sub-tab-container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	align-items: center;
	margin: 0rem 1rem;
	color: var(--text-bg);
}

/* Tabs Content */

.work .tab-content {
	width: 100%;
}

.work label:hover {
	color: var(--text-hover);
}

/* General */

.work *,
*:hover {
	transition: all 0.3s;
}
