<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Syndicat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<header>
    <!--sidebar start-->
    <div class="sidebar">
    <center>
        <img src="./img/logo.svg" class="logo" alt="">
    </center>
        <nav class="element">
            <a href="index.html"><i class="fas fa-home"></i><span>Accueil</span></a>
            <a href="statistique.html"><i class="fas fa-chart-pie"></i><span>Statistiques</span></a>
            <hr/>
            <a href="#"><i class="fas fa-box"></i><span>Caisse Noire</span></a>
            <a href="#"><i class="fas fa-receipt"></i><span>Salaires</span></a>
            <hr/>
            <a href="#"><i class="fas fa-user-circle"></i><span>Membres</span></a>
            <a href="#"><i class="fas fa-hand-paper"></i><span>Indepandants du crime</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Autres gangs</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Blanchisseurs</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Entreprises</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Produits</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Recels de voiture</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Armes</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Tribunal</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Depenses</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Stockages</span></a>
            <a href="#"><i class="fas fa-address-book"></i><span>Annuaires</span></a>
            <hr/>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Logs</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Parametres</span></a>
        </nav>
    </div>
    <!--sidebar end-->
</header>

<body>
    <div class="content">
    </div>
</body>

</html>
