body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #2f3437ff;
}

.sidebar {
    background: #1c1e22ff;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
}

.sidebar .logo{
    width: 200px;
    height: 200px;
}

.sidebar a{
    color: #ccc;
    display: block;
    width: 100%;
    line-height: 35px;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    color: #fff;
    background: #a87f63ff;
}

.sidebar i{
    padding-right: 10px;
}

.sidebar hr{
    border-color: #ccc;
    opacity: 5%;
}

.content{
    margin-left: 250px;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}
        