<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Syndicat</title>
    <!-- boxicons CDN link-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxl-sketch'></i>
                <div class="logo_name">Syndicat</div>
            </div>
        </div>
        <ul class="nav_list">
            <li>
                <a href="#">
                    <i class='bx bx-money' ></i>
                    <span class="links_name">Comptabilite</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-contact' ></i>
                    <span class="links_name">Annuaire</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-book' ></i>
                    <span class="links_name">Recap</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxl-twitch' ></i>
                    <span class="links_name">Live</span>
                </a>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <a href="#">
                        <i class='bx bxl-discord-alt' ></i>
                        <span class="discord_account">Name</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>