@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
	font-size: 16px;
	font-family: "Ubuntu";
	--text-normal: #b9bbbe;
	--text-hover: #dcddde;
	--text-active: #fff;
	--text-bg: #8e9297;
	--button-bg: #4f545cff;
	--button-hover: #5d6269ff;
	--bg-primary: #202225ff;
	--bg-secondary: #2f3136ff;
	--bg-tertiary: #292b2fff;
	--bg-quaternary: #36393fff;
	--bg-quinary: #40444bff;
	--bg-hover: #34373cff;
	--bg-active: #393c43ff;
	--scroll-bg-primary: #202225;
	--sroll-bg-secondary: #2e3338ff;

	--card-border-radius: 2rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-3: 1.2rem;

	--card-padding: 1.8rem;
	--padding-1: 1.2rem;

	--box-shadow: 0 2rem 3rem var(--bg-primary);

	--transition-speed: 600ms;
}

body {
	background-color: var(--bg-secondary);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

input:checked + label {
	color: var(--text-active);
	background-color: var(--bg-primary);
}

.work {
	background: var(--bg-tertiary);
	box-shadow: var(--box-shadow);
	padding: 1rem;
	border-collapse: collapse;
}

/* Main Tabs */

.work .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.work .top-tabs-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.work .top-tab-container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	align-items: center;
	margin: 0rem 1rem;
	color: var(--text-bg);
}

.work .hr-main-tab {
	border-color: #ccc;
	width: 100%;
	opacity: 5%;
}

.work .tab-radio {
	display: none;
}

/* Tabs behaviour, hidden if not checked/clicked */
.work .sub-tab-content,
.tab-content {
	display: none;
}

.work .tab-radio:checked + .tab-content,
.tab-radio:checked + .sub-tab-content {
	display: block;
}

/* Sub-tabs */
.work .sub-tabs-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.work .sub-tab-container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	align-items: center;
	margin: 0rem 1rem;
	color: var(--text-bg);
}

/* Tabs Content */

.work .tab-content {
	width: 100%;
}

.work label:hover {
	color: var(--text-hover);
}

/* General */

.work *,
*:hover {
	transition: all 0.3s;
}
